<div class="container mx-auto px-4 py-8">
  <!-- Cabeçalho e Botão de Adicionar -->
  <div class="flex justify-between items-center mb-8">
    <div class="flex items-center space-x-4">
      <!-- Botão Voltar -->
      <button routerLink="/dashboard"
        class="flex items-center text-gray-600 hover:text-gray-800 transition duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
            clip-rule="evenodd" />
        </svg>
        Voltar
      </button>

      <h1 class="text-2xl font-bold text-gray-800">Gerenciamento de Usuários</h1>
    </div>


    <button (click)="isFormOpen = true; selectedUser = null" *ngIf="!isFormOpen"
      class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
          clip-rule="evenodd" />
      </svg>
      Adicionar Usuário
    </button>
  </div>

  <!-- Lista de Usuários -->
  <div class="bg-white rounded-lg shadow-md overflow-hidden mb-8" *ngIf="!isFormOpen">
    <app-user-list [users]="users" (editUser)="onEdit($event)" (deleteUser)="onDelete($event)">
    </app-user-list>
  </div>
  <app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
    (pageChanged)="loadUsers($event)" (pageSizeChanged)="onPageSizeChange($event)">
  </app-pagination>
  <!-- Formulário (modal-like) -->
  <div *ngIf="isFormOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4 z-50">
    <div class="bg-white rounded-lg shadow-xl w-full max-w-md">
      <div class="p-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">
          {{ selectedUser ? 'Editar Usuário' : 'Novo Usuário' }}
        </h2>

        <app-user-form [user]="selectedUser" (submit)="onFormSubmit($event)" (cancel)="onFormCancel()">
        </app-user-form>
      </div>
    </div>
  </div>
</div>